*, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "MonserratT";
  src: url("../fonts/Montserrat-Regular.ttf");
  font-weight: regular;
  font-style: normal;
}
@font-face {
  font-family: "MonserratT";
  src: url("../fonts/Montserrat-SemiBold.ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Monserrat-italic";
  src: url("../fonts/Montserrat-Italic.ttf");
  font-style: normal;
}
@font-face {
  font-family: "Montserrat-Semibold-Italic";
  src: url("../fonts/Montserrat-SemiBoldItalic.ttf");
  font-style: normal;
}
html {
  font-size: 62.5%;
  font-family: "MonserratT";
}
@media only screen and (max-width: 1365px) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 1150px) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 850px) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 600px) {
  html {
    font-size: 45%;
  }
}

.container {
  max-width: 124rem;
  margin: 0 auto;
  position: relative;
}

.body-home {
  background: linear-gradient(0deg, rgba(21, 43, 74, 0.6), rgba(21, 43, 74, 0.6)), url(../img/main-background-photo.jpg) center/cover no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  position: relative;
}

.body-history {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/history-photo.jpg) center/cover no-repeat;
  background-attachment: fixed;
  width: 100%;
}

.body-expedit {
  position: relative;
  z-index: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/bg-expedit-vid.jpg) center/cover no-repeat;
  background-attachment: fixed;
  width: 100%;
}

.body-science {
  background: linear-gradient(0deg, rgba(39, 62, 108, 0.54), rgba(39, 62, 108, 0.54)), url(../img/science-photo.jpg) center/cover no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  position: relative;
}

.body-collection {
  background: linear-gradient(0deg, rgba(44, 111, 150, 0.3) 21.89%, rgba(1, 1, 1, 0.7) 99.94%), url(../img/collections-photo.jpg) center/cover no-repeat;
  background-attachment: fixed;
  width: 100%;
}

.body-monographs {
  background: linear-gradient(90deg, rgba(44, 111, 150, 0.3) 21.89%, rgba(1, 1, 1, 0.7) 99.94%), url(../img/publications-photo.jpg) center/cover no-repeat;
  background-attachment: fixed;
  width: 100%;
  position: relative;
}

@keyframes LeftToRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}
@keyframes RightToLeft {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}
@keyframes HrefToUp {
  0% {
    opacity: 0;
    transform: translateY(7rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.title-first {
  position: relative;
  color: #FFFFFF;
  font-weight: 800;
  font-size: 4.4rem;
  line-height: 6rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  font-weight: bold;
  -webkit-text-shadow: 3px -1px 3px rgba(0, 0, 0, 0.38);
  -moz-text-shadow: 3px -1px 3px rgba(0, 0, 0, 0.38);
  text-shadow: 3px -1px 3px rgba(0, 0, 0, 0.38);
}
@media only screen and (max-width: 1150px) {
  .title-first {
    font-size: 3.7rem;
  }
}
@media only screen and (max-width: 600px) {
  .title-first {
    font-size: 2.7rem;
  }
}
.title-first__first-line {
  display: block;
  margin-bottom: 1rem;
  animation: LeftToRight;
  animation-duration: 1s;
  animation-delay: 0.4s;
  animation-timing-function: ease;
  backface-visibility: hidden;
  animation-fill-mode: backwards;
}
@media only screen and (max-width: 850px) {
  .title-first__first-line {
    animation: none;
  }
}
.title-first__second-line {
  display: block;
  margin-bottom: 8.5rem;
  animation: RightToLeft;
  animation-duration: 1s;
  animation-delay: 0.4s;
  animation-timing-function: ease;
  backface-visibility: hidden;
  animation-fill-mode: backwards;
}
@media only screen and (max-width: 850px) {
  .title-first__second-line {
    animation: none;
  }
}

.title-h3 {
  font-size: 2.8rem;
  color: #000000;
}

.title-h4 {
  font-size: 2.6rem;
  color: #000000;
}

.text-paragraph {
  font-size: 1.8rem;
  color: #000000;
}
@media only screen and (max-width: 600px) {
  .text-paragraph {
    font-size: 2rem;
  }
}
.text-paragraph__title {
  margin: 0 auto;
  font-size: 1.8rem;
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .text-paragraph__title {
    font-size: 2rem;
    padding: 0 4rem;
  }
}

.photo-description {
  font-size: 1.6rem;
  font-weight: bold;
}
@media only screen and (max-width: 1150px) {
  .photo-description {
    font-size: 1.8rem;
  }
}

.font-color-white {
  color: #ffffff;
}

.title-pages-animation {
  animation: LeftToRight 1.5s ease 0.5s;
  backface-visibility: hidden;
  animation-fill-mode: backwards;
}
@media only screen and (max-width: 850px) {
  .title-pages-animation {
    animation: none;
  }
}

.text-bold {
  font-weight: bold;
}

.float-left {
  float: left;
  margin: 0 2rem 0.5rem 0;
  text-align: center;
}
@media only screen and (max-width: 1365px) {
  .float-left {
    margin: 0 3rem 1rem 0;
  }
}
@media only screen and (max-width: 1150px) {
  .float-left {
    margin: 0 3rem 1rem 0;
  }
}
@media only screen and (max-width: 600px) {
  .float-left {
    margin: 0 5rem 1rem 0;
  }
}

.float-right {
  float: right;
  margin-left: 2rem;
  text-align: center;
}
@media only screen and (max-width: 1150px) {
  .float-right {
    margin-left: -1rem;
  }
}
@media only screen and (max-width: 850px) {
  .float-right {
    margin-left: -1rem;
  }
}
@media only screen and (max-width: 600px) {
  .float-right {
    margin-left: 1rem;
  }
}

.width-23rem {
  width: 23rem;
}
@media only screen and (max-width: 1150px) {
  .width-23rem {
    width: 31rem;
  }
}

@media only screen and (max-width: 1150px) {
  .margin-left-1rem {
    margin-left: 1rem;
  }
}

.width-11rem {
  width: 11.5rem;
}

.text-indent {
  text-indent: 5rem;
}

.text-align-justify {
  text-align: justify;
}

.text-align-center {
  text-align: center;
}

.text-bold {
  font-weight: bold;
}

.max-width {
  max-width: 124rem;
}

.clear {
  clear: both;
}

.italic-reg {
  font-family: Monserrat-italic;
}

.italic-bold {
  font-family: Montserrat-Semibold-Italic;
}

.margin-bottom-2rem {
  margin-bottom: 2rem;
}

.display-none {
  display: none;
}

@media only screen and (max-width: 600px) {
  .mobile-float-none {
    float: none;
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .padding-left-right-5vh {
    padding: 0 5vh;
  }
}

.width-40 {
  width: 40%;
}

.collection-main-section {
  font-weight: bold;
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  animation: HrefToUp 0.5s ease-out 1.8s;
  animation-fill-mode: backwards;
}
@media only screen and (max-width: 850px) {
  .collection-main-section {
    animation: none;
  }
}
.collection-main-section__wrapper {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}
@media only screen and (max-width: 600px) {
  .collection-main-section__wrapper {
    display: none;
  }
}
.collection-main-section__wrapper-mobile {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  display: none;
}
@media only screen and (max-width: 600px) {
  .collection-main-section__wrapper-mobile {
    display: block;
  }
}
.collection-main-section__btn-top {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}
.collection-main-section__text {
  padding: 4rem 4rem 0 4rem;
  margin-bottom: 4rem;
}
.collection-main-section__btn-top {
  display: flex;
  justify-content: center;
}
.collection-main-section p {
  margin-bottom: 2rem;
}

.publications-main-section {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  animation: HrefToUp 0.5s ease-out 1.8s;
  animation-fill-mode: backwards;
  line-height: 2.4rem;
}
@media only screen and (max-width: 850px) {
  .publications-main-section {
    animation: none;
  }
}
.publications-main-section__wrapper {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  min-height: 260rem;
}
.publications-main-section__title-h3 {
  margin-bottom: 3rem;
  padding-top: 2rem;
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .publications-main-section__title-h3 {
    padding: 2rem 4rem;
  }
}
.publications-main-section__text {
  padding: 0 4rem;
  margin-bottom: 4rem;
}
.publications-main-section__btn-top {
  display: flex;
  justify-content: center;
}
.publications-main-section p {
  margin-bottom: 2.5rem;
}

.history-main-section {
  max-width: 124rem;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  animation: HrefToUp 0.5s ease-out 1.8s;
  animation-fill-mode: backwards;
  line-height: 2.4rem;
}
@media only screen and (max-width: 850px) {
  .history-main-section {
    animation: none;
  }
}
.history-main-section__photo-box {
  max-width: 100%;
}
.history-main-section__photo-box figure {
  display: inline-block;
}
.history-main-section__wrapper {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}
.history-main-section__title-h3 {
  margin-bottom: 3rem;
  padding-top: 2rem;
  text-align: center;
}
.history-main-section__text {
  padding: 4rem 4rem 0 4rem;
  margin-bottom: 4rem;
}
.history-main-section__btn-top {
  display: flex;
  justify-content: center;
}
.history-main-section p {
  margin-bottom: 2rem;
}
.history-main-section__box {
  display: flex;
  justify-content: space-around;
}
.history-main-section__scale-photo {
  transition: all 0.5s;
}
.history-main-section__scale-photo_horiz {
  max-width: 40rem;
}
@media only screen and (max-width: 600px) {
  .history-main-section__scale-photo_horiz {
    max-width: 100%;
  }
}
.history-main-section__scale-photo_vertic {
  max-width: 20rem;
}
@media only screen and (max-width: 600px) {
  .history-main-section__scale-photo_vertic {
    max-width: 100%;
  }
}
.history-main-section__scale-photo:hover {
  transform: scale(1.5);
}
@media only screen and (max-width: 1150px) {
  .history-main-section__scale-photo:hover {
    transform: scale(1);
  }
}
.history-main-section__poems {
  text-align: center;
}
.history-main-section__poems2 {
  padding-left: 4%;
}

.photo-box {
  display: flex;
  justify-content: space-between;
  padding: 4rem 4rem 0 4rem;
}
@media only screen and (max-width: 1150px) {
  .photo-box {
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
  }
}
.photo-box figcaption {
  max-width: 55rem;
  text-align: center;
}
@media only screen and (max-width: 1150px) {
  .photo-box figcaption {
    max-width: 100rem;
  }
}
.photo-box__img {
  max-width: 55rem;
  transition: all 0.5s;
}
@media only screen and (max-width: 1150px) {
  .photo-box__img {
    max-width: 100%;
  }
}
.photo-box__img_2 {
  padding-top: 2rem;
}
.photo-box__img:hover {
  transform: scale(1.35);
}
@media only screen and (max-width: 1150px) {
  .photo-box__img:hover {
    transform: scale(1);
  }
}

.science-main-section {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  animation: HrefToUp 0.5s ease-out 1.8s;
  animation-fill-mode: backwards;
  line-height: 2.4rem;
}
@media only screen and (max-width: 850px) {
  .science-main-section {
    animation: none;
  }
}
.science-main-section__wrapper {
  /* background: rgba(39,62,108,0.6) */
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  padding-top: 4rem;
}
.science-main-section__text {
  padding: 4rem 4rem 0 4rem;
  margin-bottom: 4rem;
}
.science-main-section__list {
  padding-left: 10rem;
  list-style: square;
}
@media only screen and (max-width: 850px) {
  .science-main-section__list {
    text-align: left;
  }
}
.science-main-section__list li {
  margin-bottom: 2rem;
}
.science-main-section__btn-top {
  display: flex;
  justify-content: center;
}
.science-main-section p {
  margin-bottom: 2.5rem;
}

.gov-themes {
  color: #ffffff;
  font-size: 1.8rem;
  padding: 4rem 4rem 0 4rem;
}

.expedition-main-section {
  max-width: 124rem;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  animation: HrefToUp 0.5s ease-out 1.8s;
  animation-fill-mode: backwards;
  line-height: 1.5;
}
@media only screen and (max-width: 850px) {
  .expedition-main-section {
    animation: none;
  }
}
.expedition-main-section__text {
  margin-bottom: 4rem;
}
@media only screen and (max-width: 1365px) {
  .expedition-main-section__text {
    padding: 0 4rem 0 4rem;
  }
}
.expedition-main-section__btn-top {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 1150px) {
  .wrapper {
    justify-content: space-around;
  }
}
@media only screen and (max-width: 850px) {
  .wrapper {
    flex-direction: column;
    justify-content: center;
  }
}
@media only screen and (max-width: 850px) {
  .wrapper__col-1 {
    margin: 0 auto;
  }
}
@media only screen and (max-width: 850px) {
  .wrapper__col-2 {
    margin: 0 auto;
  }
}

.nav-menu {
  font-weight: bold;
}
@media only screen and (max-width: 850px) {
  .nav-menu {
    display: none;
  }
}
.nav-menu__list {
  display: flex;
  justify-content: space-around;
}
.nav-menu__href:link, .nav-menu__href:visited {
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  padding: 1.5rem 3rem;
  background: #FFFFFF;
  border-radius: 5rem;
  display: inline-block;
  transition: all 0.3s;
  position: relative;
  font-size: 2rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}
@media only screen and (max-width: 1150px) {
  .nav-menu__href:link, .nav-menu__href:visited {
    padding: 1.2rem 2rem;
    font-size: 1.9rem;
  }
}
.nav-menu__href:hover {
  transform: translateY(-0.4rem);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8);
}
.nav-menu__href:hover::after {
  opacity: 0;
  transform: scaleX(1.4) scaleY(1.5);
}
.nav-menu__href:active {
  transform: translateY(-0.2rem);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}
.nav-menu__href::after {
  content: "";
  background: #FFFFFF;
  width: 100%;
  height: 100%;
  border-radius: 5rem;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
  animation-fill-mode: backwards;
}
.nav-menu__href_animated {
  animation: HrefToUp 0.3s ease-out 1s;
  animation-fill-mode: backwards;
}

.header {
  position: relative;
  height: 100vh;
  width: 100%;
}
@media only screen and (max-width: 850px) {
  .header {
    padding: 10rem;
  }
}
.header__box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}
@media only screen and (max-width: 850px) {
  .header__box {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.header-pages {
  position: relative;
  margin-bottom: 4rem;
  z-index: 5;
}
.header-pages__nav {
  padding-top: 5rem;
  margin-bottom: 4rem;
}
.header-pages__title {
  display: flex;
  justify-content: center;
}

.header-text {
  display: flex;
  border-bottom: 0.1rem solid #FFFFFF;
  justify-content: center;
  animation: fade-in 0.4s ease-out 1s;
  animation-fill-mode: backwards;
}
@media only screen and (max-width: 850px) {
  .header-text {
    animation: none;
    padding: 0 5rem;
  }
}

.table {
  border-collapse: separate;
  border-spacing: 0rem 1.5rem;
  font-weight: bold;
  color: #000000;
  font-size: 1.8rem;
  padding: 0 4rem;
}
.table th {
  padding: 1rem 2rem;
  background: #5ca0c7;
  color: #000000;
  border: 0.1rem solid;
  border-top: 0.2rem solid #000000;
  border-bottom: 0.2rem solid #000000;
  max-width: 40%;
  vertical-align: middle;
}
.table th:first-child {
  border-left: 0.2rem solid #000000;
}
.table th:last-child {
  border-right: 0.2rem solid #000000;
}
.table td {
  vertical-align: middle;
  text-align: center;
  padding: 2rem;
  border-top: 0.1rem solid #000000;
  border-bottom: 0.1rem solid #000000;
  border-right: 0.1rem solid #000000;
}
.table td:first-child {
  border-left: 0.1rem solid #000000;
  min-width: 40%;
}

.row {
  max-width: 124rem;
  margin: 0 auto;
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}

.col-1-of-2 {
  width: calc((100% - 40rem) / 2);
}

.col-1-of-3 {
  width: calc((100% - 2 * 40rem) / 3);
}

.col-2-of-3 {
  width: calc(2*((100% - 2 * 40rem) / 3) + 40rem);
}

.col-1-of-4 {
  width: calc((100% - 3 * 40rem) / 4);
}

.col-2-of-4 {
  width: calc(2*((100% - 3 * 40rem) / 4) + 40rem);
}

.col-3-of-4 {
  width: calc(3*((100% - 3 * 40rem) / 4) + 2 * 40rem);
}

/* [class^="col-"]
 *  float: left
 *  &:not(:last-child)
 *      margin-right: $gutter-horizontal */
.expedit-photo {
  padding: 0 2em;
  font-size: 1.8rem;
  background: #111;
  color: #ffffff;
  text-align: center;
}
.expedit-photo p a {
  text-decoration: none;
  color: red;
}
.expedit-photo p a:visited {
  color: red;
}

.expedit-title {
  font-size: 4.4rem;
  font-weight: 100;
  margin-bottom: 2rem;
}

.expedit-paragraph {
  font-weight: 100;
  color: #ffffff;
  margin-bottom: 4.5rem;
  text-align: justify;
  line-height: 1.5;
}

.thumb {
  max-height: 17.1rem;
  border: solid 0.2rem rgba(5, 5, 5, 0.8);
}

.lightbox {
  position: fixed;
  z-index: 999;
  height: 0;
  width: 0;
  text-align: center;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  opacity: 0;
}
.lightbox img {
  max-width: 90%;
  max-height: 80%;
  margin-top: 3.5%;
  opacity: 0;
}
@media only screen and (max-width: 600px) {
  .lightbox img {
    margin-top: 2vh;
  }
}
.lightbox:target {
  outline: none;
  width: 100%;
  height: 100%;
  opacity: 1;
}
.lightbox:target img {
  border: solid 1.7rem rgba(77, 77, 77, 0.9);
  opacity: 1;
  webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
}
@media only screen and (max-width: 850px) {
  .lightbox:target img {
    max-height: 90vh;
    border: solid 0.5rem rgba(77, 77, 77, 0.9);
  }
}

.light-btn {
  color: #fafafa;
  background-color: #333;
  border: solid 0.3rem #777;
  padding: 0.5rem 1.5rem;
  border-radius: 0.1rem;
  text-decoration: none;
  cursor: pointer;
  vertical-align: middle;
  position: absolute;
  top: 45%;
  z-index: 99;
}
@media only screen and (max-width: 1150px) {
  .light-btn {
    top: 90%;
  }
}
.light-btn:hover {
  background-color: #111;
}

.btn-prev {
  left: 7%;
}

.btn-next {
  right: 7%;
}

.btn-close {
  position: absolute;
  right: 2%;
  top: 2%;
  color: #fafafa;
  background-color: #92001d;
  border: solid 0.5rem #ef4036;
  padding: 1rem 1.5rem;
  border-radius: 0.1rem;
  text-decoration: none;
}
.btn-close:hover {
  background-color: #740404;
}

.navigation {
  display: none;
}
@media only screen and (max-width: 850px) {
  .navigation {
    display: inline-block;
  }
}
.navigation__toggle {
  display: none;
}
.navigation__button {
  background: #ffffff;
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  position: fixed;
  top: 6rem;
  right: 2rem;
  z-index: 200;
  text-align: center;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}
.navigation__background {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background: rgb(39, 62, 108);
  position: fixed;
  right: 3rem;
  top: 7rem;
  z-index: 100;
  transition: all 0.7s;
}
.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 150;
  transition: all 0.3s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  opacity: 0;
  width: 0;
}
.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  width: 100%;
}
.navigation__item {
  text-align: center;
}
.navigation__item:not(:last-child) {
  margin-bottom: 5vh;
}
@media only screen and (max-width: 850px) {
  .navigation__item:not(:last-child) {
    margin-bottom: 1vh;
  }
}
.navigation__link:link, .navigation__link:visited {
  font-size: 4rem;
  color: #ffffff;
  letter-spacing: 0.5rem;
  text-decoration: none;
  text-transform: uppercase;
  background: linear-gradient(120deg, transparent 0%, transparent 50%, #ffffff 50%);
  font-weight: bold;
  background-size: 220%;
  padding: 1rem 2rem;
  transition: all 0.7s;
  display: inline-block;
}
@media only screen and (max-width: 850px) {
  .navigation__link:link, .navigation__link:visited {
    font-size: 2.8rem;
  }
}
.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: rgb(39, 62, 108);
  transform: translateX(1rem);
}
.navigation__toggle:checked ~ .navigation__background {
  transform: scale(80);
}
.navigation__toggle:checked ~ .navigation__nav {
  width: 100%;
  opacity: 1;
}
.navigation__icon {
  position: relative;
  margin-top: 3.7rem;
}
.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  width: 3rem;
  height: 0.2rem;
  background: #000000;
  display: inline-block;
}
.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}
.navigation__icon::before {
  top: -0.8rem;
}
.navigation__icon::after {
  top: 0.8rem;
}
.navigation__button:hover .navigation__icon::before {
  top: -1rem;
}
.navigation__button:hover .navigation__icon::after {
  top: 1rem;
}
.navigation__toggle:checked + .navigation__button .navigation__icon {
  background: transparent;
}
.navigation__toggle:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg);
}
.navigation__toggle:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg);
}

.link-zin {
  border-top: 0.1rem solid #FFFFFF;
  position: absolute;
  bottom: 2%;
  right: 1%;
  animation: fade-in 0.4s ease-out 1s;
  animation-fill-mode: backwards;
  z-index: 1000;
}
@media only screen and (max-width: 850px) {
  .link-zin {
    display: none;
  }
}
.link-zin a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.6rem;
}
@media only screen and (max-width: 850px) {
  .link-zin a {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 600px) {
  .link-zin a {
    font-size: 1.6rem;
    bottom: 0;
    right: 0;
  }
}

.link-home {
  padding-top: 2%;
  animation: fade-in 0.4s ease-out 1s;
  animation-fill-mode: backwards;
}
@media only screen and (max-width: 850px) {
  .link-home {
    animation: none;
    text-align: center;
  }
}
.link-home a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.6rem;
  line-height: 4rem;
  text-transform: uppercase;
}
@media only screen and (max-width: 600px) {
  .link-home a {
    font-size: 1.6rem;
  }
}
.link-home__rus-vers {
  text-align: center;
  padding-bottom: 2rem;
  border-bottom: 0.1rem solid #FFFFFF;
}

.link-pages {
  text-align: center;
  padding-top: 1%;
}
.link-pages a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.6rem;
  line-height: 4rem;
  text-transform: uppercase;
}

.link-eng_title {
  position: absolute;
  z-index: 1;
  top: 1%;
  left: 2%;
  animation: fade-in 0.4s ease-out 1s;
  animation-fill-mode: backwards;
}
@media only screen and (max-width: 850px) {
  .link-eng_title {
    animation: none;
  }
}
.link-eng_title a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.6rem;
  line-height: 4rem;
  text-transform: uppercase;
}
@media only screen and (max-width: 600px) {
  .link-eng_title a {
    font-size: 1.8rem;
  }
}
.link-eng_pages {
  padding-top: 2%;
}
@media only screen and (max-width: 600px) {
  .link-eng_pages {
    padding-top: 3%;
  }
}
.link-eng_pages a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.6rem;
  line-height: 4rem;
  text-transform: uppercase;
}
@media only screen and (max-width: 600px) {
  .link-eng_pages a {
    font-size: 1.8rem;
  }
}

.vl {
  height: 1.6rem;
  margin: 3rem;
  border-left: 1px solid #FFFFFF;
  padding-top: 2%;
  animation: fade-in 0.4s ease-out 1s;
  animation-fill-mode: backwards;
}
@media only screen and (max-width: 850px) {
  .vl {
    animation: none;
  }
}
@media only screen and (max-width: 600px) {
  .vl {
    height: 4rem;
  }
}

.btn-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 1.8rem;
}
.btn-top a {
  text-decoration: none;
  font-weight: bold;
}

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  font-weight: 400;
  color: #000000;
  text-decoration: none;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid #000000;
  display: inline-block;
  transition: 0.5s all;
}
.btn-text:hover {
  color: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  transform: translateY(-0.1rem);
}
.btn-text:active {
  transform: translateY(0rem);
}

.expedition-card {
  height: 50rem;
  width: 52rem;
  background: rgba(255, 255, 255, 0.6235294118);
  position: relative;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 4rem;
}
@media only screen and (max-width: 1365px) {
  .expedition-card {
    height: 50rem;
    width: 47rem;
  }
}
@media only screen and (max-width: 850px) {
  .expedition-card {
    width: 90vw;
  }
}
.expedition-card__img {
  height: 35rem;
  width: 100%;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
}
.expedition-card__img_1 {
  background: url(../img/expeditions/Card1-Gulf.jpg) center/cover no-repeat;
  margin-bottom: 5rem;
}
.expedition-card__img_2 {
  background: url(../img/expeditions/Card2-White-Sea.jpg) center/cover no-repeat;
  margin-bottom: 5rem;
}
.expedition-card__title {
  font-size: 2.8rem;
  letter-spacing: 0.2rem;
  font-weight: 400;
  text-transform: uppercase;
  text-align: right;
  position: absolute;
  top: 27rem;
  right: 0rem;
  width: 100%;
}
.expedition-card__title a {
  text-decoration: none;
}
.expedition-card__span {
  background: linear-gradient(0deg, rgba(39, 62, 108, 0.64), rgba(39, 62, 108, 0.64));
  padding: 1rem 2rem 0.3rem 2rem;
  color: #ffffff;
  font-weight: 500;
}
.expedition-card__span_2 {
  position: absolute;
  top: 3.4rem;
  right: 0;
  padding-bottom: 1rem;
}
.expedition-card__descr ul {
  list-style: none;
  width: 85%;
  margin: 0 auto;
  text-align: center;
  font-weight: 600;
}
.expedition-card__descr ul li {
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  color: #000000;
  border-bottom: 1px solid #000000;
  display: inline-block;
}
.expedition-card__descr ul li:not(:last-child) {
  margin-bottom: 2rem;
}

.bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  z-index: -2;
  -o-object-fit: cover;
     object-fit: cover;
}

.bg-gradient {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  z-index: -1;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}/*# sourceMappingURL=style.css.map */